.row.renderformprojet
  .col-sm-10.col-sm-offset-1
    = form_for @projet do |form|
      .field
        = form.label :titre, "Titre de votre projet"
        %p= form.text_field :titre
      .field
        = form.label :categorie, "Quel est la thèmatique dominante de votre projet ?"
        %p= form.select :categorie_id, options_for_select(@categories)
      .field
        = form.label :codepostal, "Où est localisé votre projet ? (code postal)"
        %p= form.text_field :codepostal, placeholder: "Code postal : ex. 28240"
      .field
        = form.label :demarrage, "Date de démarrage du projet (passé ou futur)"
        %p= form.date_select :demarrage
      .field
        = form.label :localisation, "Quel est le territoire impacté par votre projet ?"
        %br
        %em Soyez le plus précis possible
        %p= form.text_field :localisation
      .field
        = form.label :statut, "État d'avancement : quelles étapes ont été réalisées ?"
        = fields_for :statut do |statut_fields|
          - ["réflexion", "définition", "analyse du marché", "recherche de partenaire", "montage financier", "mise en oeuvre"].each do |etape|
            %p
              .formprojetcheck= statut_fields.check_box etape.to_sym
              .checklabel= statut_fields.label etape
      .field
        = form.label :description, "Décrire brièvement votre projet"
        %p= form.text_area :description, maxlength: 1500, :placeholder => "Limite de 1500 caractères"
      .field
        = form.label :besoin, "Quels sont vos besoins ?"
        %p= form.text_area :besoin, maxlength: 500, :placeholder => "Limite de 500 caractères"
      .field
        = form.label :image, "Une image qui illustre votre projet"
        %p= form.file_field :image
      .field
        = form.label :urlsite, "Un lien où il est possible d'en apprendre plus sur votre projet"
        %p= form.text_field :urlsite, placeholder: "http://monblog.com"

        = form.submit "Enregistrer mon projet", class: 'btn btn-primary btn-lg'

