.row
  = form_for @projet do |form|
    .col-sm-8
      = form.label :titre
      %p= form.text_field :titre
    .col-sm-8
      = form.label :objectif
      %p= form.text_field :objectif
    .col-sm-12
      = form.label :catégorie
      %p= form.select :categorie_id, options_for_select(@categories)
    .col-sm-12
      = form.label :description
      %p= form.text_area :description
      = form.submit "Créer projet", class: 'btn btn-primary btn-lg'

