.row
  = form_for @projet do |form|
    .col-sm-8
      = form.label :titre, "Quel est le titre de votre projet"
      %p= form.text_field :titre
    .col-sm-8
      = form.label :codepostal, "Localisation du projet ?"
      %p= form.text_field :codepostal, placeholder: "ex: 28240"
    .col-sm-8
      = form.label :urlsite, "Site de votre projet"
      %p= form.text_field :urlsite, placeholder: "http://"
    .col-sm-12
      = form.label :categorie, "Quel est la thèmatique dominante de votre projet ?"
      %p= form.select :categorie_id, options_for_select(@categories)
    .col-sm-8
      = form.label :demarrage, "Date de démarrage du projet (passé ou futur)"
      %p= form.date_select :demarrage
    .col-sm-8
      = form.label :localisation, "Quel est le territoire concerné par votre projet ?"
      %br
      %em Soyez le plus précis possible
      %p= form.text_field :localisation
    .col-sm-8
      = form.label :statut, "État d'avancement : quelles étapes ont été réalisées ?"
      = fields_for :statut do |statut_fields|
        - ["réflexion", "définition", "analyse du marché", "recherche de partenaire", "montage financier", "mise en oeuvre"].each do |etape|
          %p
            = statut_fields.check_box etape.to_sym
            = statut_fields.label etape
    .col-sm-12
      = form.label :description, "Merci de décrire brièvement votre projet"
      %p= form.text_area :description, maxlength: 1500
    .col-sm-12
      = form.label :besoin, "Quels sont vos besoins ?"
      %p= form.text_area :besoin, maxlength: 500

      = form.submit "Enregistrer mon projet", class: 'btn btn-primary btn-lg'

