.row
  = form_for @projet do |form|
    .col-sm-8
      = form.label :titre
      %p= form.text_field :titre
    .col-sm-8
      = form.label :date_de_démarrage
      %p= form.date_select :demarrage
    .col-sm-8
      = form.label :localisation_du_projet
      %p= form.text_field :localisation
    .col-sm-8
      = form.label :status_du_projet
      %p= form.text_field :status
    .col-sm-8
      = form.label :besoin
      %p= form.text_field :besoin
    .col-sm-8
      = form.label :objectif
      %p= form.text_field :objectif
    .col-sm-12
      = form.label :catégorie
      %p= form.select :categorie_id, options_for_select(@categories)
    .col-sm-12
      = form.label :description
      %p= form.text_area :description
      = form.submit "Créer projet", class: 'btn btn-primary btn-lg'

