= form_for @projet do |form|
  = form.label :titre
  = form.text_field :titre
  = form.label :objectif
  = form.text_field :objectif
  = form.label :description
  = form.text_area :description
  = form.submit

