.col-sm-6.col-md-4
  .panel
    .panel-heading 
      =image_tag '60x60.gif', class: 'pull-right'
      %h3=link_to projet.titre.try(:truncate, 30), projet_path(projet)
      %em= "Créé il y a #{time_ago_in_words(projet.created_at)}"
    .panel-body
      %p.pbody=link_to projet.description.try(:truncate, 120), projet_path(projet)
      %br
      %br
      .row
        .col-xs-6.text-center
          =link_to image_tag('plus-32.png'), projet_path(projet)
          %br
          %br
          = link_to 'En savoir plus', projet_path(projet)
        .col-xs-6.text-center
          =image_tag 'pin-32.png'
          %br
          %br
          = projet.localisation
    .panel-footer
      .row
        .col-xs-6.text-center
          =image_tag 'chat-16.png'
          %br
          = projet.commentaires.count
          Commentaire(s)

        .col-xs-6.text-center
          =image_tag 'heart-16.png'
          %br
          = projet.likes.count
          Aime(nt) ce projet
