.blocprojet
  .carreprojet
    %h1= @projet.titre
    - if @projet.contributeur == current_contributeur
      = link_to 'Modifier', edit_projet_path(@projet), class: 'btn btn-default pull-right'
    %h3 Objectif du projet
    %p= @projet.objectif
    %h3 Description du projet
    %p= @projet.description
    %h3 Catégorie du projet
    %p= @projet.try(:categorie).try(:nom)
    %p
      = facebook_button :facebook => {:button_caption => "Facebook", :static_link => true}
      = twitter_button :twitter => {:button_caption => "Twitter", :static_link => true}
      - if @projet.liked_by? current_contributeur
        =link_to "Je n'aime plus ce projet", unlike_projet_path(@projet.id)
      - else
        =link_to "J'aime ce projet", like_projet_path(@projet.id)
    %p= @projet.likes.count
  .carrecommentaires
    %h3 Commentaires
    - @commentaires.each do |commentaire|
      %p= commentaire.contributeur.email
      %p= commentaire.message
    =link_to "Postez votre commentaire", new_projet_commentaire_path(@projet) , controller: "commentaires", action: "new"
