= form_for @actualite do |f|
  .field
    = f.label :titre
    = @actualite.errors[:titre].join(', ')
    = f.text_field :titre
  .field
    .row
      .col-sm-6
        = f.label :image, "Une image pour illustrer l'article"
        = @actualite.errors[:image].join(', ')
        = f.file_field :image
      .col-sm-6
        - unless @actualite.image.url.nil?
          = image_tag @actualite.image
  .field
    #wysihtml-toolbar{:style => "display: none;"}
      %a{"data-wysihtml5-command" => "bold"}
        %svg.icon-bold{:role => "img"}
          %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-bold"}
      %a{"data-wysihtml5-command" => "italic"}
        %svg.icon-italic{:role => "img"}
          %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-italic"}
      %a{"data-wysihtml5-command" => "createLink"}
        %svg.icon-link{:role => "img"}
          %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-link"}
      %div{"data-wysihtml5-dialog" => "createLink", :style => "display: none;"}
        %label
          Lien:
          %input.text.input-md{"data-wysihtml5-dialog-field" => "href", :value => "http://"}/
        %a{"data-wysihtml5-dialog-action" => "save", class: 'btn btn-md btn-default'} OK
        %a{"data-wysihtml5-dialog-action" => "cancel"} Annuler
    = f.text_area :contenu, id: "wysihtml-textarea"
  %h3 Si il s'agit d'un événement à venir
  .field
    .date
      = f.label :date, "Date de l'événement"
      = f.date_select :date, include_blank: true
  .field
    = f.label :lieu, "Lieu de l'événement"
    = f.text_field :lieu
  .field
    = f.label :siteweb, "Site web de l'événement"
    = f.text_field :siteweb
  .field
    = f.submit 'Enregistrer et publier', class: 'btn btn-primary'

:javascript
  var editor = new wysihtml5.Editor("wysihtml-textarea", { // id of textarea element
    toolbar:      "wysihtml-toolbar", // id of toolbar element
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });

