.col-sm-6
  %h1= @actualite.titre
  %em
    = "Le #{I18n.localize(@actualite.created_at.to_date, format: :short)} #{@actualite.created_at.year}"
  .contenu
    = simple_format @actualite.contenu
  - if current_contributeur && current_contributeur.type == 'Animateur'
    = link_to 'Editer', edit_actualite_path(@actualite), class: 'btn btn-default'
  %em
    = "Posté par #{@actualite.animateur.pseudo}"
.col-sm-6
  =image_tag "http://placehold.it/800x600", class: "img-responsive"
  .col-sm-6.cartouche1
    %p= @actualite.try(:ville)
  .col-sm-6.cartouche1
    %p= @actualite.try(:partage)


.col-sm-12.degraf
%h3 Dernières actualités
.col-sm-12.actbar
  -@filactu.last(4).each do |actu|
    .col-sm-3
      =image_tag "http://placehold.it/200x150", class: "img-responsive center-block"
      %h4= actu.titre
      %p.date= actu.created_at.strftime('%D')