<h2 class="text-center">Vous avez égaré votre mot de passe?</h2>
<br>
<div class="split-centre">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'input-lg' %>
    </div>

    <div class="actions">
      <%= f.submit "Réinitialiser mon mot de passe",class: 'center-block btn btn-lg btn-primary' %>
    </div>
  <% end %>
</div>
