.form-sondage
  = simple_form_for @sondage do |f|
    .block
      = f.input :profession,
        label: "Votre profession?",
        collection: ["Scolaire",
          "Etudiant",
          "Agriculteur",
          "Artisan",
          "Commerçant",
          "Autre chef d'entreprise PME/Industrie",
          "Ouvrier",
          "Employé",
          "Enseignant",
          "Cadre et profession supérieure",
          "Profession libérale",
          "Retraité",
          "Sans emploi"]
    .block
      = f.input :equipement,
        label: "De quel équipement disposez-vous ?",
        collection: [ "Un ordinateur fixe", 
          "Un ordinateur portable",
          "Une tablette tactile",
          "Un smartphone"],
        as: :check_boxes, :include_hidden => false

      = f.input :usage_fixe,
        label: "Quel est votre usage de votre ordinateur fixe ?",
        collection: ["Surf sur internet",
          "Bureautique (traitement de texte, feuille de calcul, présentation)",
          "Pour votre travail",
          "E mail",
          "Moteur de recherche",
          "Actualité",
          "Vidéo sur internet",
          "Réseaux sociaux",
          "Consultation d'application",
          "Infos pratiques",
          "Recettes de cuisine, bricolage...",
          "Jeux",
          "Commerce en ligne",
          "Autre"],
        as: :check_boxes,
        :include_hidden => false
      = f.input :autre_usage_fixe, label: "Si autre précisez"

      = f.input :usage_portable,
        label: "Quel est votre usage de votre ordinateur portable ?",
        collection: ["Surf sur internet",
          "Bureautique (traitement de texte, feuille de calcul, présentation)",
          "Pour votre travail",
          "E mail",
          "Moteur de recherche",
          "Actualité",
          "Vidéo sur internet",
          "Réseaux sociaux",
          "Consultation d'application",
          "Infos pratiques",
          "Recettes de cuisine, bricolage...",
          "Jeux",
          "Commerce en ligne",
          "Autre"],
        as: :check_boxes,
        :include_hidden => false
      = f.input :autre_usage_portable, label: "Si autre précisez"

      = f.input :usage_tablette,
        label: "Quel est votre usage de votre tablette ?",
        collection: ["Surf sur internet",
          "Téléchargement d'application",
          "Consultation d'application",
          "Jeux",
          "Bureautique (traitement de texte, feuille de calcul, présentation)",
          "Pour votre travail",
          "E mail",
          "Moteur de recherche",
          "Actualité",
          "Vidéo sur internet",
          "Réseaux sociaux",
          "Infos pratiques",
          "Recettes de cuisine, bricolage...",
          "Commerce en ligne",
          "Autre" ],
        as: :check_boxes,
        :include_hidden => false
      = f.input :autre_usage_tablette, label: "Si autre précisez"

      = f.input :usage_smartphone,
        label: "Quel est votre usage de votre smartphone (usage internet) ?",
        collection: ["Surf sur internet",
          "Téléchargement d'application",
          "Consultation d'application",
          "Jeux",
          "Bureautique (traitement de texte, feuille de calcul, présentation)",
          "Pour votre travail",
          "E mail",
          "Moteur de recherche",
          "Actualité",
          "Vidéo sur internet",
          "Réseaux sociaux",
          "Infos pratiques",
          "Recettes de cuisine, bricolage...",
          "Commerce en ligne",
          "Autre" ],
        as: :check_boxes,
        :include_hidden => false
      = f.input :autre_usage_smartphone, label: "Si autre précisez"

    .block
      = f.input :service,
        label: "Selon vous, quels sont les services à développer dans le Perche grâce au numérique ? (liste à titre d'exemple et non exhaustive)",
        collection: ["Boutique de produits locaux en ligne",
          "E-commerce, carte fidélité commerciale",
          "Service public communal ou intercommunal en ligne (ex: infos, contacts en ligne)",
          "Paiement de prestations publiques en ligne (cantine, crèche...eau)",
          "Objets connectés facilitant la vie des personnes âgées",
          "Pass numérique de loisir pour les jeunes",
          "Paiement de prestations publiques en ligne (cantine, crèche...eau)",
          "Consultation de spécialiste santé à distance (assisté par un professionnel)",
          "Formations en ligne",
          "Visites virtuelles de sites touristiques, petits patrimoine",
          "Applications sur la nature et les espèces du Perche",
          "Applications permettant aux percherons d'échanger / de se connaître",
          "Applications sur les transports",
          "Autre"],
        as: :check_boxes,
        :include_hidden => false
      = f.input :commentaire_service, label: "Si autre précisez"

    .block
      #radio= f.input :competences,
        label: "Diriez-vous que vous savez : ",
        collection: ["Parfaitement vous servir d'internet et de ses applications quotidiennes",
          "Vous servir d'internet et de ses applications quotidiennes de façon satisfaisante",
          "Vous servir d'internet et de ses applications quotidiennes de façon peu satisfaisante",
          "Peu vous servir d'internet et de ses applications quotidiennes"],
        as: :radio_buttons,
        :include_hidden => false

    .block
      .radio= f.input :formation,
        label: "Souhaiteriez-vous bénéficier d'une formation à l'utilisation d'internet et de ses applications ?",
        collection: ["Oui",
          "Non"],
        as: :radio_buttons,
        :include_hidden => false
      = f.input :commentaire_formation, label: "Si oui laquelle?"
      .radio= f.input :prestataire,
        label: "Savez-vous si des organismes délivrent ce type de prestation dans le Perche ? ",
        collection: ["Oui",
          "Non",
          "Je ne sais pas"],
        as: :radio_buttons,
        :include_hidden => false

    = f.button :submit, value: "Enregistrer mes réponses", class: 'btn btn-primary btn-lg'

