= simple_form_for @sondage do |f|
  = f.input :profession, label: "Votre profession?"
  = f.input :equipement
  = f.input :usage_fixe
  = f.input :usage_portable
  = f.input :usage_tablette 
  = f.input :usage_smartphone 
  = f.input :service
  = f.input :commentaire_service
  = f.input :competences
  = f.input :formation
  = f.input :prestataire
  = f.input :commentaire_prestataire
  = f.button :submit