- provide(:title, "Pourquoi cette application participative ?")
.comment-ca-marche
  .row
    .col-sm-5.text-center
      = image_tag "page-howto.jpg", class: 'img-responsive',alt: "Couple percheron connecté", title: "Crédits photo: David Commenchal/Pays Perche 'Eure et Loir'"
    .col-sm-7
      %h1= yield(:title)
      %p Le Pays Perche est un syndicat mixte regroupant les 75 communes du Perche d'Eure-et-Loir pour travailler ensemble à l'aménagement et au développement du territoire. Les élus du Pays et les responsables de la société civile ont souhaité permettre la concertation avec les habitants du Perche et le partage d'informations, d'avis, sur les projets qui nous et vous concernent, que ceux-ci soient publics et/ou privés.
      %p Réalisée à l'occasion de la candidature du Pays du Perche d'Eure-et-Loir au 
      = link_to 'programme LEADER', 'http://www.vivre-dans-le-perche.fr/reussir/guide-du-porteur-de-projets/programme-europeen-leader/candidature-leader-pays-perche-eure-et-loir-2014-2020/', target: '_blank'
      cette application vous permet notamment de proposer des projets innovants en lien avec l'économie numérique et bien sûr dans d'autres domaines.
  .row
    .col-xs-12
      %h2.vert Comment ça marche ?
  .row
    .col-xs-12
      = image_tag "bandeau-howto.png", class: 'img-responsive'
  .row
    .col-sm-4
      %h4.text-center.vert 1 - Je m'inscris
      %p En renseignant quelques infos me permettant d'être contacté par le Pays si je dépose un projet, je note que ces éléments ne sont pas rendus publics ensuite sur ce site.
    .col-sm-4
      %h4.text-center.vert 2 - Je participe
      %p Soit en mon nom propre si je veux que l'on me connaisse, soit en utilisant un pseudo.
    .col-sm-4
      %h4.text-center.vert 3 - Mon projet est suivi
      %p Régulièrement, le Conseil de développement du Pays (membres de la société civile) rendra compte des projets proposés et de leur suivi auprès des élus du Pays Perche.
  .row
    .col-xs-12
      %h2.vert 4 bonnes raisons de participer
  .row
    .col-xs-1
      %p
        %svg.icon-light-bulb{:role => "img"}
          %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-gears"}
    .col-sm-5
      %h4.vert Tout le monde peut déposer un projet
      %p J’ai un projet et j’ai envie de savoir ce que les Percherons pensent de celui-ci, si quelqu’un veut m’aider à le réaliser (en donnant de son temps par exemple ou en apportant ses connaissances), si le Pays Perche ou un partenaire du Pays peut m’accompagner (méthode, financements…).
    .col-xs-1
      %p
        %svg.icon-light-bulb{:role => "img"}
          %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-gears"}
    .col-sm-5
      %h4.vert Je peux suivre la vie d'un projet
      %p Régulièrement, dans l’onglet actualité, chaque porteur de projets pourra expliquer où il en est dans la réalisation de son projet.
  .row
    .col-xs-1
      %p
        %svg.icon-light-bulb{:role => "img"}
          %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-gears"}
    .col-sm-5
      %h4.vert Tout le monde peut donner son avis
      %p Je peux « liker » et partager un projet si je le trouve pertinent. Je peux aussi participer anonymement si je le souhaite, à de courts sondages pour permettre au Perche de mieux cerner les pratiques et les attentes des Percherons.
    .col-xs-1
      %p
        %svg.icon-light-bulb{:role => "img"}
          %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-gears"}
    .col-sm-5
      %h4.vert Je peux être informé des actions entreprises dans le Pays du Perche
      %p Du coup je suis au courant des actions mises en œuvre pour l’avenir de mon territoire !
  %h4.text-center
    = link_to 'Lire la charte de modération du site', charte_path
