=image_tag "1024x300.gif", class: 'mapaccueil'
.fond-navigation 
  .navigation
    .bouton.text-center
      = link_to( image_tag("home.png"))
      %p= link_to "Je dépose un projet"
    .bouton.text-center
      = link_to( image_tag("home.png"))
      %p Je participe à un projet
    .bouton.text-center
      = link_to( image_tag("home.png"))
      %p L'actualité des projets
    .bouton.text-center
      = link_to( image_tag("home.png"))
      %p Comment ça marche