- provide(:title, "Perche 2.8")
.splash-intro
  .visible-xs.visible-sm= image_tag "perche-participatif.jpg"
  %h1.hidden-xs.hidden-sm
    Je participe et j’innove
    avec mon territoire !
    = link_to 'Découvrir les projets déposés', projets_path, class: 'btn btn-primary btn-lg'

.navigation
  .container
    .bouton.nouveau-projet
      %a{href: projets_path}
        %span.icon
          %svg.icon-light-bulb{:role => "img"}
            %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-light-bulb"}
        %span.action
          Je dépose
          %br un projet
    .bouton.sondage
      %a{href: sondages_path}
        %span.icon
          %svg.icon-bubble{:role => "img"}
            %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-bubble"}
        %span.action
          Je participe
          %br à un sondage
    .bouton.actualites
      %a{href: last_actu_path}
        %span.icon
          %svg.icon-calendar{:role => "img"}
            %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-calendar"}
        %span.action
          Je suis l'actualité
          %br des projets
    .bouton.howto
      %a{href: comment_ca_marche_path}
        %span.icon
          %svg.icon-question{:role => "img"}
            %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-question"}
        %span.action Pourquoi cette application

.derniers-projets
  .liste-projets
    %h2= "#{@count} projets sont déjà en ligne"
    = render partial: 'projets/projet', collection: @projets
  .split-centre= link_to 'Voir plus de projets', projets_path, class: 'center-block btn btn-lg btn-primary'
.container
  .col-sm-12.text-center
    = link_to image_tag("facebook.png"), "https://www.facebook.com/pays.perche"
    = link_to image_tag("twitter.png"), "https://twitter.com/paysperche28"
    = link_to image_tag("scoopit.png"), "http://www.scoop.it/t/l-actualite-economique-du-perche"
