- provide(:title, "Intro des projets")
%h1= yield :title
= "#{@projets.size} projets en base"

.action-new-projet
  = link_to 'Je dépose un projet', new_projet_path, class: 'btn btn-primary btn-lg'

%hr

.liste-projets
  = render partial: 'projets/projet', collection: @projets
