=image_tag "1024x300.gif", class: 'mapaccueil'
.navigation
  .bouton
    %a{href: new_projet_path}
      %span.icon= image_tag("home.png")
      %span.action Je dépose un projet
  .bouton
    %a{href: root_path}
      %span.icon= image_tag("home.png")
      %span.action Je participe à un sondage
  .bouton
    %a{href: actualites_path}
      %span.icon= image_tag("home.png")
      %span.action L'actualité des projets
  .bouton
    %a{href: comment_ca_marche_path}
      %span.icon= image_tag("home.png")
      %span.action Comment ça marche
.container
  .liste-projets
    = render partial: 'projets/projet', collection: @projets
  = link_to 'Voir tous les projets', projets_path, class: 'center-block btn btn-lg btn-default'
