.navbar-all

  %nav.navbar.navbar-default
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Menu
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to image_tag("perche-28-logo-mobile.png", alt: "Perche 2.8"), root_path, class: 'navbar-brand visible-xs visible-sm'
        = link_to image_tag("perche-28-logo-desktop.png", alt: "Perche 2.8"), root_path, class: 'navbar-brand visible-md visible-lg'

      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav
          - ifactive = controller.controller_name == 'projets' ? "active" : ""
          %li{class: ifactive}
            %a{href: projets_path}
              %span.icon
                %svg.icon-light-bulb{:role => "img"}
                  %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-light-bulb"}
              %span.action
                Je dépose
                %br.hidden-sm.hidden-xs un projet

          - ifactive = controller.controller_name == 'sondages' ? "active" : ""
          %li{class: ifactive}
            %a{href: sondages_path }
              %span.icon
                %svg.icon-bubble{:role => "img"}
                  %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-bubble"}
              %span.action
                Je participe
                %br.hidden-sm.hidden-xs à un sondage

          - ifactive = controller.controller_name == 'actualites' ? "active" : ""
          %li{class: ifactive}
            %a{href: last_actu_path}
              %span.icon
                %svg.icon-calendar{:role => "img"}
                  %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-calendar"}
              %span.action
                Je suis
                %br.hidden-sm.hidden-xs les actualités

          - ifactive = controller.controller_name == 'pages' && controller.action_name == 'howto' ? "active" : ""
          %li{class: ifactive}
            %a{href: comment_ca_marche_path}
              %span.icon
                %svg.icon-question{:role => "img"}
                  %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-question"}
              %span.action Pourquoi cette application

        %ul.nav.navbar-nav.navbar-right
          - if contributeur_signed_in?
            - if current_contributeur.type == 'Animateur'
              %li= link_to "Modération", animation_path, class: 'btn btn-primary'
            %li= link_to "Déconnexion", destroy_contributeur_session_path, method: :delete, class: 'btn btn-primary'
          - else
            %li= link_to "Connexion", new_contributeur_session_path, class: 'btn btn-primary'
