!!! 5
%html
  %head
    %title= "#{yield :title} - #{Rails.application.class.parent_name}"
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %meta{:content => "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: current_controller}
    - if controller.action_name == 'intro'
      = render 'layouts/navbarintro'
    -else
      = render 'layouts/navbar'
    .notices
      -if alert
        .alert.alert-danger{:role => "alert"}
          %p(class="alert")= alert
      -if notice
        .alert.alert-success{:role => "alert"}
          %p(class="notice")= notice
    - if controller.action_name == 'intro' || controller.controller_name == "actualites"
      = yield
    - else
      .container
        = yield
    = render 'layouts/footer'
