!!! 5
%html
  %head
    %title= "#{yield :title} - #{Rails.application.class.parent_name}"
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    .container
      -if alert
        .alert.alert-danger{:role => "alert"}
          %p(class="alert")= alert
      -if notice
        .alert.alert-success{:role => "alert"}
          %p(class="notice")= notice
      = yield
    = render 'layouts/footer'

