!!! 5
%html
  %head
    %title= "#{yield :title} - #{Rails.application.class.parent_name}"
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = link_to "Acceuil", root_path
      - if contributeur_signed_in?
        = link_to "Déconnexion", destroy_contributeur_session_path, method: :delete
      - else
        = link_to "Connexion", new_contributeur_session_path
      %p(class="notice")= notice
      %p(class="alert")= alert
      = yield